#login-mojo-form {
  display: inline-block;
  margin: 10px 0px;
  width: 100%;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
#login-mojo-form.hide {
  display: none;
  opacity: 0;
}
#login-mojo-form .separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0px;
}
#login-mojo-form .separator::before,
#login-mojo-form .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #999;
}
#login-mojo-form .separator:not(:empty)::before {
  margin-right: 0.25em;
}
#login-mojo-form .separator:not(:empty)::after {
  margin-left: 0.25em;
}
#login-mojo-form .login-mojo-button {
  background-color: #2e3749;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  color: #306108;
  font-size: 14px;
  text-decoration: none;
  border: none;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}
#login-mojo-form .login-mojo-button:after {
  background: url(../images/favicon.png) no-repeat scroll center center / 100%
    auto rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  color: #fff;
  height: 30px;
  margin-left: 13px;
  position: relative;
  vertical-align: middle;
  width: 30px;
  cursor: pointer;
}
#login-mojo-form .login-mojo-button:hover,
#login-mojo-form .login-mojo-button:focus {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #5cb811),
    color-stop(1, #77d42a)
  );
  background: -moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a', GradientType=0);
  background-color: #5cb811;
  cursor: pointer;
}
#login-mojo-form .login-mojo-button label {
  color: #fff;
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
}
#login-mojo-form .loading-animate {
  height: 2em;
  padding: 0.25em;
  width: 2em;
  display: none;
  position: relative;
  -webkit-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
  margin-left: 0.8em;
}
#login-mojo-form .loading-animate :after,
#login-mojo-form .loading-animate:before {
  content: "";
  display: block;
}
#login-mojo-form .loading-animate:before {
  border-color: transparent white white white;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.2em;
  height: 1.5em;
  width: 1.5em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

#login-mojo-form #login-mojo-result {
  display: none;
  margin: 0 0 7px;
  width: 100%;
  margin-bottom: 10px;
}
#login-mojo-form .login-mojo-message {
  display: none;
  font-size: 12px;
  padding: 8px 10px;
}
#login-mojo-form .login-mojo-message.show {
  display: inline-block;
}
#login-mojo-form .login-mojo-message.success {
  background-color: rgba(87, 241, 45, 0.24);
  border: 1px solid #16c900;
  color: #0f8500;
}
#login-mojo-form .login-mojo-message.processing {
  background-color: rgb(33 150 243 / 7%);
  border: 1px solid #03a9f4;
  color: #2196f3;
}
#login-mojo-form .login-mojo-message.error {
  background-color: rgba(255, 0, 0, 0.24);
  border: 1px solid #b36262;
  color: #820000;
}
#login-mojo-form .login-mojo-message-success,
#login-mojo-form .login-mojo-message-error.show {
  display: inline-block;
}
